{% extends 'base.html.twig' %}

{% block title %}PostImg{% endblock %}

{% block body %}
    <h1>PostImg</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post_img.id }}</td>
            </tr>
            <tr>
                <th>Uri_img</th>
                <td>{{ post_img.uriImg }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ post_img.titulo }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ post_img.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('post_img_index') }}">back to list</a>

    <a href="{{ path('post_img_edit', {'id': post_img.id}) }}">edit</a>

    {{ include('post_img/_delete_form.html.twig') }}
{% endblock %}
