{% extends 'base.html.twig' %}

{% block title %}XIV SuperDuperImageViewer{% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spartan&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
            
        <link rel="stylesheet" href="{{ asset('css/app.css')}}">
        {# <link rel="stylesheet" href="{{ asset('css/dashboard.css')}}"> #}
    {% endblock %}

{% block body %}
{# <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> #}
<nav class="navbar navbar-dark bg-dark" style="height: 100px;">
    <a class="navbar-brand" href="#">
        <i style="color: #fff ; font-size: 2rem;" class="pb-1 fad fa-cauldron"></i>
        <p class="pl-4 d-inline font-weight-bold" style="color: #eaeaea;">Xtreme Image Viewer (XIV)</p> <span> El mejor visualizador de imagenes de la galaxia </span>
    </a>
  {# <div class="collapse navbar-collapse" >
    <ul class="navbar-nav">
          {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li class="nav-item ">
              <a class="nav-link" href="{{ path('app_logout') }}"><button class="btn btn-danger">Salir</button></a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="{{ path('app_login') }}"><button class="btn btn-primary">Subir imagen</button></a>
            </li>
      
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ path('app_login') }}"><button class="btn btn-dark">Iniciar sesion</button></a>
            </li>
          {% endif %}
      

      <li class="nav-item">
        {% if is_granted('ROLE_ADMIN') %}
          <a class="nav-link" href="{{ path('app_login') }}"><button class="btn btn-secondary">Aprobar imagenes</button></a>
          <a class="nav-link" href="{{ path('app_login') }}"><button class="btn btn-warning">Subir archivo CSV</button></a>
        {% endif %}
      </li>
    </ul>
  </div> #}


    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
      <a class="nav-link" href="{{ path('app_logout') }}"><button class="btn btn-danger">Salir</button></a>
      <a class="nav-link" href="{{ path('post_img_new') }}"><button class="btn btn-primary">Subir imagen</button></a>
    {% else %}
      <a class="nav-link" href="{{ path('app_login') }}"><button class="btn btn-dark">Iniciar sesion</button></a>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
      <a class="nav-link" href="{{ path('app_login') }}"><button class="btn btn-secondary">Aprobar imagenes</button></a>
      <a class="nav-link" href="{{ path('post_csv') }}"><button class="btn btn-warning">Subir archivo CSV</button></a>
    {% endif %}
</nav>
<!-- Page Content -->
<div class="container">

  <!-- Page Heading -->
  <h1 class="my-4">
  </h1>

  <div class="row">
  {% for post_img in post_imgs %}
    <div class="col-lg-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" {% if post_img.pulse != 1 %} src="{{ asset('uploads/') ~ post_img.uriImg }}" alt="{{ post_img.titulo }}" {% else %} src="{{ post_img.uriImg }}" alt="{{ post_img.titulo }}" {% endif %}></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">{{ post_img.titulo }}</a>
          </h4>
          <p class="card-text">{{ post_img.descripcion }}</p>
          <div calss="d-flex justify-content-center">
          <a class="card-link " href="{{ path('post_img_show', {'id': post_img.id}) }}">Ver</a>
          <a class="card-link" href="{{ path('post_img_edit', {'id': post_img.id}) }}">Editar</a> 
          {{ include('post_img/_delete_form.html.twig') }}         
          </div>

        </div>
      </div>
        
    </div>
  {% else %}
    <tr>
      <td colspan="5">Sin imagenes que mostrar :( </td>
    </tr>
  {% endfor %}

  </div>
  <!-- /.row -->
  <!-- Pagination -->
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">3</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
    </li>
  </ul>

</div>
<!-- /.container -->
{% endblock %}
{% block javascript %}

    <script src="{{ asset('js/dashboard/dashboard.js') }}" type="text/javascript"></script>

{% endblock %}